{%- macro value_or_dash(value) %}
    {% if value|trim|length > 0 %}
        {{ value }}
    {% else %}
        &#0151;
    {% endif %}
{% endmacro -%}

{% macro bs_menu(menu) %}
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-{{ menu }}-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('default.home') }}">
                <i class="fa fa-hashtag fa-lg fa-fw"></i>
                <strong>{{ app_name }}</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-{{ menu }}-collapse">
            {{ knp_menu_render(menu, { 'allow_safe_labels': true }) }}
        </div>
    </div>
</div>
{% endmacro %}