{% macro enabled(value) %}
    <a href="javascript:void(null)" class="toggle-enabled">
        <i class="fa-{{ value == 1 ? 'check-' : '' }}square-o fa fa-fw fa-lg"></i>
    </a>
{% endmacro %}

{% macro listIsEmpty() %}
    <div class="bs-callout bs-callout-info">
        {{ 'common.list_is_empty'|trans }}
    </div>
{% endmacro %}

{%- macro tabHeaders(tabs, id) %}

    {% set id = id == null ? 'tablist-tabs' : id~'-tabs' %}
    
    <ul role="tablist" class="nav nav-tabs" id="{{ id }}">
        {% for t in tabs %}
            {%if t.route == app.request.attributes.get('_route') %}
                <li class="active">
                    <a href="{{ path(t.route) }}">
                        <i class="fa-{{ t.icon }} fa fa-lg fa-fw"></i>
                        {{ t.label }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path(t.route) }}">
                        <i class="fa-{{ t.icon }} fa fa-lg fa-fw"></i>
                        {{ t.label }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br/>
{% endmacro -%}

{%- macro callout(message, type) %} 
    {% set type = type == null ? 'danger' : type %}
    <div class="bs-callout bs-callout-{{ type }}" style="margin-top: 1px">
        {{ message|trans|raw }}
    </div>
{% endmacro -%}

{%- macro formFields(form, fields, type) %} 
    {% for f in fields %}
        {% set field = form[f] %}
        <div class="form-group">
            {% if type == null %}
            {{ form_label(field, null, { label_attr: { class: 'col-sm-4 control-label' }}) }}
            <div class="col-sm-8">
                {{ form_widget(field, {attr: { class: 'form-control'}}) }}
                {{ form_errors(field) }}
            </div>
            {% else %}
                {{ form_label(field) }}
                {{ form_errors(field) }}
                {{ form_widget(field, {attr: {class: 'form-control'}}) }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro -%}           

{%- macro button(type, enabled, url, target) %}

    {% set style = {
        send_message:   { type: 'btn-primary', icon: 'fa-envelope-o' },
        filter:    { type: 'btn-default', icon: 'fa-filter' },
        info:      { type: 'btn-primary', icon: 'fa-info-circle' },
        add:       { type: 'btn-success', icon: 'fa-plus-circle' },
        edit:      { type: 'btn-default', icon: 'fa-edit' },
        remove:    { type: 'btn-danger',  icon: 'fa-times-circle' },
        details:   { type: 'btn-default', icon: 'fa-list-alt' }, 
        dashboard: { type: 'btn-default', icon: 'fa-desktop' },
        link:      { type: 'btn-default', icon: 'fa-link' },
    } %}

    <a title="{{ ('common.'~type)|trans }}"
       {%if target is not empty%}target="{{ target }}"{% endif %}
       href="{%if url is not empty%}{{ url }}{%else%}javascript:void(null){%endif%}"
       class="{{ type }} btn btn-xs{% if enabled == false%} btn-default disabled{%else%} {{ style[type].type }}{%endif%}">
        <i class="{{ style[type].icon }} fa fa-lg"></i>
    </a>

{% endmacro -%}

{%- macro value_or_dash(value) %}
{% if value|trim|length > 0 %}
    {{ value }}
{% else %}
    {{ '&#0151;' }}
{% endif %}
{% endmacro -%}

{% macro bs_menu(menu, iconBefore, iconAfter) %}
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-{{ menu }}-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('default.home') }}">
                    {%if iconBefore is defined and iconBefore is not null %}{{ iconBefore|raw }}{%endif%}
                    <strong>{{ app_name|trans({}, 'ApplicationMainBundle') }}</strong>
                    {%if iconAfter is defined and iconAfter is not null %}{{ iconAfter|raw }}{%endif%}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-{{ menu }}-collapse">
                {{ knp_menu_render(menu, { 'allow_safe_labels': true }) }}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a title="{{ app.user.fullname }}"
                               href="javascript:void(null)" onfocus="blur()">
                                <i class="fa-user fa fa-fw"></i>
                                {{ app.user.fullname }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}