{% extends "::base.html.twig" %}

{% block fos_user_content %}

    <div clas="row">
        <div class="col-lg-7">

            <ul role="tablist" class="nav nav-tabs" id="access-form-tabs">
                <li>
                    <a onclick="Spinner.show()" href="{{ url('fos_user_security_login') }}">
                        <i class="fa-unlock-alt fa fa-lg fa-fw"></i>
                        {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:void(null)">
                        <i class="fa-user-plus fa fa-lg fa-fw"></i>
                        {{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}
                    </a>
                </li>
            </ul>

            <div id="admin-dashboard-tab-content" class="tab-content">

                <div role="tabpanel" class="tab-pane active">

                    <br/>

                    {% form_theme form with defaultFormTheme %}
                    {{ form_start(form, { action:  path('fos_user_registration_register') }) }}
                    {{ form_widget(form) }}

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
                                   class="btn btn-default btn-lg pull-right"/>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
