{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
      
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>
       
    </style>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa fa-list-alt fa-lg fa-fw text-muted"></i>
        {{ 'survey.complete'|trans }}
    </h1>

    <div class="alert alert-success info">
        <i class="fa fa-info-circle fa-2x fa-fw" style="vertical-align:middle"></i>
        {{ 'survey.complete_info'|trans }}
    </div>

    <br/>

    <h3>Tally Box</h3>
    <pre>
        {{ data }}
    </pre>

    <br/>

    <h3>Graphs</h3>
    <div class="row">
        {% for type, dat in tallyBox if type == 'most' %}
            <div class="col-lg-4">
                {% set results = [ dat.D, dat.i, dat.S, dat.C ]|join(',') %}
                <img src="{{ url('disc.graph', { type: type, results: results }) }}"/>
            </div>
        {% endfor %}
    </div>
    <br/>


    <br/>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}