{% extends 'ApplicationDiscBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .disc-results {
            font-size: 24pt;
        }
    </style>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa fa-list-alt fa-lg fa-fw text-muted"></i>
        {{ 'survey.complete'|trans }}
    </h1>

    <div class="alert alert-success info">
        <i class="fa fa-info-circle fa-2x fa-fw" style="vertical-align:middle"></i>
        {{ 'survey.complete_info'|trans }}
    </div>

    <br/>

    <div class="row">
        {% set tallyBoxResult = [] %}

        {% for key, values in tallyBox if key != 'difference' %}
            {% set tallyBoxResult = tallyBoxResult|merge([values|join(',')]) %}
        {% endfor %}

        <div class="col-lg-6">
            <object style="width:100%" data="{{ url('disc.tally.box', {results: tallyBoxResult|join('|')}, true) }}"
                    type="image/svg+xml"></object>
        </div>
        {% for type, dat in tallyBox if type == 'most' %}
            <div class="col-lg-6">
                {% set results = [ dat.D, dat.i, dat.S, dat.C ]|join(',') %}
                <object style="width:100%" data="{{ url('disc.graph', { type: type, results: results }) }}"
                        type="image/svg+xml"></object>
            </div>
        {% endfor %}

    </div>

    <br/>

    <div class="row">
        {% for type, dat in tallyBox if type != 'most' %}
            <div class="col-lg-6">
                {% set results = [ dat.D, dat.i, dat.S, dat.C ]|join(',') %}
                <object style="width:100%" data="{{ url('disc.graph', { type: type, results: results }) }}"
                        type="image/svg+xml"></object>
            </div>
        {% endfor %}
    </div>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}