{% extends 'ApplicationDiscBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var user = '{{ user }}';
        var questionCount = parseInt('{{ survey|length }}');
        var completeClass = 'bg-success';
        var activeButtonClass = 'btn-success';
        var answers = {};

        $(document).ready(function () {

            $('.survey-form').on('click', 'button.send', function (e) {
                e.preventDefault();
                var self = $(this);
                var json = JSON.stringify(answers);
                var form = self.closest('form');
                form.find('input[name=json]').val(json);

                form.submit();
            });

            $('span.rate').on('click', 'a', function (e) {

                e.preventDefault();
                var self = $(this);

                self.blur();

                var temp = self.attr('id').split('-');
                var type = temp.shift();
                var rate = temp.shift();
                var question = temp.shift();

                if (!answers.hasOwnProperty(question)) {
                    answers[question] = {
                        most: null,
                        least: null
                    };
                }

                var panel = self.closest('.panel-body');
                panel.find('.btn.' + rate + '').removeClass(rate);
                panel.find('.survey-question .question.' + rate + '').removeClass(rate);

                self.closest('.survey-question').find('.btn').removeClass('most').removeClass('least');
                self.closest('.survey-question').find('.question').removeClass('most').removeClass('least');

                if (answers[question][rate] === type) {
                    answers[question][rate] = null;
                } else {
                    answers[question][rate] = type;

                    if (answers[question].most === answers[question].least) {
                        answers[question] = {
                            most: null,
                            least: null
                        };
                    }

                    answers[question][rate] = type;

                    self.addClass(rate);
                    self.closest('.survey-question').find('.question').addClass(rate);
                }

                var complete = true;

                panel.removeClass(completeClass);

                for (var t in answers[question]) {
                    if (answers[question][t] === null) {
                        complete = false;
                    }
                }

                console.log(complete);

                if (complete === true) {
                    panel.addClass(completeClass);
                }

                var count = $('.panel-body.' + completeClass).length;

                if (count === questionCount) {
                    $('.info').addClass('hidden');
                    $('.send').addClass(activeButtonClass);
                    $('.send').removeClass('btn-default');
                    $('.send').removeClass('disabled');
                } else {
                    $('.info').removeClass('hidden');
                    $('.send').removeClass(activeButtonClass);
                    $('.send').addClass('btn-default');
                    $('.send').addClass('disabled');
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

        #timer {
            
            background: black;
            color: white;
            opacity: 0.5;
            z-index: 32000;
            position: fixed;
            top: 0;
            right: 0;
            border-bottom-left-radius: 12px;
            width: 200px;
            text-align: center;
            font-size: 40px;
            font-family: Roboto Mono, monospace;
            font-weight: normal;
        }

        .survey-question {
            padding-top: 6px;
            padding-left: 12px;
        }

        .survey-question span.question {
            font-size: 12pt;
            display: inline-block;
            padding-top: 3px;
        }

        .survey-question .btn {
            color: #555555;
        }

        .survey-question .btn:hover {
            color: black;
            background-color: #DADADA;
        }

        .survey-question .btn.most {
            background-color: darkgreen;
            color: white;
        }

        .survey-question .btn.least {
            background-color: darkred;
            color: white;
        }

        .survey-question .question.most {
            font-weight: bold;
        }

        .survey-question .question.least {
            text-decoration: line-through;
        }

    </style>
{% endblock %}

{% block body %}

    <div id="timer" class="pull-right">
        <span>07:00</span>
    </div>

    <h1 class="page-header">
        <i class="fa fa-list-alt fa-lg fa-fw text-muted"></i>
        {{ 'survey.name'|trans }} #{{ user }}
    </h1>

    <div class="alert alert-info info">
        <i class="fa fa-info-circle fa-2x fa-fw" style="vertical-align:middle"></i>
        {{ 'survey.info'|trans }}
    </div>

    {% set index = 1 %}

    {% for row in survey|batch(2) %}
        <div class="row">
            {% for expressions in row %}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for e in expressions %}
                                <div class="survey-question clearfix">
                                    <span class="question col-lg-9">{{ e.expression }}</span>
                                    <span class="rate pull-right">
                                        <a href="#" class="btn btn-sm" id="{{ e.most }}-most-{{ e.id }}">
                                            <i class="fa fa-thumbs-o-up fa-2x"></i> 
                                        </a>
                                        <a href="#" class="btn btn-sm" id="{{ e.least }}-least-{{ e.id }}">
                                            <i class="fa fa-thumbs-o-down fa-2x"></i> 
                                        </a>
                                    </span>
                                </div>
                            {% endfor %}
                            {% set index = index + 1 %}
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    {% endfor %} 

    <br/>

    <form action="{{ path('disc.survey.evaluate') }}" class="survey-form" method="POST">
        <input type="hidden" value="" name="json"/>
        <div clas="row">
            <button type="submit" class="send btn btn-default btn-lg col-lg-offset-5 col-lg-2 disabled">{{ 'survey.send'|trans }}</button>
        </div>
    </form>

    <br/>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}