{% extends 'ApplicationDiscBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var user = '{{ user }}';
        var fields = {{ survey|json_encode|raw }};
    </script>
    
    <script src="{{ asset('bundles/applicationdisc/js/survey.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

        #timer {

            background: black;
            color: white;
            opacity: 0.5;
            z-index: 32000;
            position: fixed;
            top: 0;
            right: 0;
            border-bottom-left-radius: 12px;
            width: 200px;
            text-align: center;
            font-size: 40px;
            font-family: Roboto Mono, monospace;
            font-weight: normal;
        }

        .survey-question {
            padding-top: 6px;
            padding-left: 12px;
        }

        .survey-question span.question {
            font-size: 12pt;
            display: inline-block;
            padding-top: 3px;
        }

        .survey-question .btn {
            color: #555555;
        }

        .survey-question .btn:hover {
            color: black;
            background-color: #DADADA;
        }

        .survey-question .btn.most {
            background-color: darkgreen;
            color: white;
        }

        .survey-question .btn.least {
            background-color: darkred;
            color: white;
        }

        .survey-question .question.most {
            font-weight: bold;
        }

        .survey-question .question.least {
            text-decoration: line-through;
        }

    </style>
{% endblock %}

{% block body %}

    <div id="timer" class="pull-right">
        <span>07:00</span>
    </div>

    <h1 class="page-header">
        <i class="fa fa-list-alt fa-lg fa-fw text-muted"></i>
        {{ 'survey.name'|trans }} #{{ user }}
    </h1>

    <div class="bs-callout bs-callout-info">
        <h4>Instrukcje</h4>
        <ul>
            <li>Wybierz ustawienia, w którym będą utworzone twoje odpowiedzi: Praca, dom, kościół, społeczeństwo itp.</li>
            <li>Uważnie przeczytaj cztery frazy w każdym polu poniżej. Zakreśl number w linii do NAJBARDZIEJ pasujących do ciebie fraz w ustawieniu, które wybrałeś. (Numer przestaje mieć w tym momencie znaczenie.)</li>
            <li>Zaznacz numer w linii do fraz, które pasują do ciebie NAJMNIEJ w ustawieniu, które wybrałeś. (Numer przestaje mieć w tym momencie znaczenie.)</li>
            <li>Dla każdego pola, zaznacz TYLKO JEDNĄ „Najbardziej” oraz TYLKO JEDNĄ „Najmniej” odpowiedź.</li>
            <li>Ten arkusz powinien być wypełniony w przeciągu SIEDMIU MINUT lub jak najbliżej tego czasu jak to tylko możliwe.</li> 
        </ul>
    </div>

    {% set cols = 2 %}

    <div id="survey">
        {% for row in survey|batch(cols) %}
            <div class="row">
                {% for field in row %}
                    <div class="col-lg-{{ 12 / cols }}">
                        <div class="panel panel-default" id="field-{{ field.id }}">
                            <div class="panel-body">
                                {% for e in field.expressions %}
                                    <div class="survey-question clearfix">
                                        <span class="question col-lg-9">{{ e.expression }}</span>
                                        <span class="rate pull-right">
                                            <a href="#" class="btn btn-sm" id="most-{{ e.id }}">
                                                <i class="fa fa-thumbs-o-up fa-2x"></i> 
                                            </a>
                                            <a href="#" class="btn btn-sm" id="least-{{ e.id }}">
                                                <i class="fa fa-thumbs-o-down fa-2x"></i> 
                                            </a>
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            </div>
        {% endfor %} 
    </div>

    <br/>

    <form action="{{ path('disc.survey.evaluate') }}" class="survey-form" method="POST">
        <input type="hidden" value="" name="json"/>
        <div clas="row">
            <button type="submit" class="send btn btn-default btn-lg col-lg-offset-5 col-lg-2 disabled">{{ 'survey.send'|trans }}</button>
        </div>
    </form>

    <br/>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}