{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js') }}" ></script>

    <script>

        {% verbatim %}

            var tmpl = '\
{{#items.0}}\n\
<ul class="list-group">\n\
{{/items.0}}\n\
{{#items}}\n\
<li class="list-group-item">{{id}} - {{& name}}</li>\n\
{{/items}}\n\
{{#items.0}}\n\
</li>\n\
{{/items.0}}\n\
{{^items}}\n\
<div class="alert alert-info">The list is empty</div>\n\
{{/items}}\n\
    ';
            var data = {
                items: [
                    { name: 'John &', id: 33 },
                    { name: 'Paul', id: 39 },
                    { name: 'George', id: 42 },
                    { name: 'Ringo', id: 53 }
                ]
            };

//            data.items = [];
            
            $(document).ready(function(){
               console.log(Mustache.render(tmpl, data));
            });

        {% endverbatim %}

            function spinnerTest() {
                Spinner.show();
                setTimeout(function () {
                    Spinner.hide();
                }, 3000);
            }

            function inputTest() {

                var callback = function (val) {
                    Spinner.show();
                    setTimeout(function () {
                        console.log(val);
                        Spinner.hide()
                    }, 4000);
                };
                Dialog.input('Insert your name:', null, callback);
            }

            function questionTest() {

                var callback = function (val) {
                    var answer = val == 1 ? 'Yes' : 'No';
                    Spinner.show();
                    setTimeout(function () {
                        console.log(answer);
                        Spinner.hide()
                    }, 3000);
                };
                Dialog.question('Czy jesteś pewien?', null, callback);
            }

            function confirmationTest() {

                var callback = function (val) {
                    var condition = val == 1;
                    if (condition === true) {
                        Spinner.show();
                        setTimeout(function () {
                            console.log('Confirmed');
                            Spinner.hide()
                        }, 3000);
                    }
                };
                Dialog.confirmation('Czy jesteś pewien?', null, callback);
            }

    </script>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="page-header">
                <i class="fa fa-hashtag"></i>
                {{ app_name|trans }}
            </h1>
            <p>{{ app_description|trans|nl2br }}</p>

            <a href="javascript:spinnerTest()" class="btn btn-lg btn-success">
                <i class="fa fa-lg fa-fw fa-spinner"></i>
            </a>
            <a onclick="Dialog.info('Short informational message.')" href="javascript:void(null)" class="btn btn-lg btn-info">
                <i class="fa fa-lg fa-fw fa-info-circle"></i>
            </a>
            <a onclick="Dialog.warning('Short warning message.')" href="javascript:void(null)" class="btn btn-lg btn-warning">
                <i class="fa fa-lg fa-fw fa-warning"></i>
            </a>
            <a onclick="Dialog.error('Short error message.')" href="javascript:void(null)" class="btn btn-lg btn-danger">
                <i class="fa fa-lg fa-fw fa-times-circle"></i>
            </a>
            <a onclick="inputTest()" href="javascript:void(null)" class="btn btn-lg btn-default">
                <i class="fa fa-lg fa-fw fa-edit"></i>
            </a>
            <a onclick="questionTest()" href="javascript:void(null)" class="btn btn-lg btn-default">
                <i class="fa fa-lg fa-fw fa-question-circle"></i>
            </a>
            <a onclick="confirmationTest('Are you sure?')" href="javascript:void(null)" class="btn btn-lg btn-default">
                <i class="fa fa-lg fa-fw fa-check-square-o"></i>
            </a>
        </div>
    </div>

{% endblock %}