{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        console.log('user.signin'.trans());
    </script>
{% endblock %}

{% block body %}
    
    <h1 class="page-header">
        <i class="fa fa-cog fa-lg fa-fw text-muted"></i>
        OK, Allright, You Win!
    </h1>

    <h3>{{ 'user.signin'|trans }}</h3>
    
    <ul>
        <li><a href="{{ path('locale.switch', { locale: 'pl' }) }}">pl</a></li>
        <li><a href="{{ path('locale.switch', { locale: 'en' }) }}">en</a></li>
    </ul>
    
    <hr/>
    
    <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-success">
        <i class="fa fa-cog fa-lg"></i> Admin
    </a>
    
{% endblock %}