{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function adjustFilter() {
            var filterForm = $('*[name=filterField]').closest('form');
            filterForm.addClass('form-horizontal');

            var filterField = filterForm.find('select[name=filterField]');
            var filterValue = filterForm.find('input[name=filterValue]');
            var filterButton = filterForm.find('button');

            filterField.addClass('form-control');
            filterValue.addClass('form-control');
            filterForm.find('button').addClass('btn btn-default col-lg-12');

            var field = filterField.clone().wrap('<div></div>').parent().html();
            var value = filterValue.clone().wrap('<div></div>').parent().html();
            var button = filterButton.clone().wrap('<div></div>').parent().html();

            filterField.remove();
            filterValue.remove();
            filterButton.remove();

            var filter = '<div class="row no-gutter"><div class="col-lg-3">' + field + '</div><div class="col-lg-6">' + value + '</div><div class="col-lg-3">' + button + '</div></div><br/>'

            filterForm.append(filter);
        }
        
        $(document).ready(function () {
            adjustFilter();
        });
    </script>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa-list-alt fa fa-fw fa-lg text-muted"></i>
        {{ 'collection.element.name_plural'|trans }} ({{ pagination.totalItemCount }})
    </h1>

    <div class="row">
        <div class="col-lg-6">
            {% set filterFields = {
                'e.id': 'Id',
                't.name': 'collection.element.name'
            } %}
            {{ knp_pagination_filter(pagination, filterFields, { button: 'common.filter' }) }}
        </div>
    </div>

    {% if pagination.totalItemCount > 0 %}

        <table class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th class="col-lg-1">{{ knp_pagination_sortable(pagination, '#', 'e.id') }}</th>
                    <th class="col-lg-2">{{ knp_pagination_sortable(pagination, ('collection.element.type'|trans), 'e.type') }}</th>
                    <th class="col-lg-2">{{ knp_pagination_sortable(pagination, ('collection.element.name'|trans), 't.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, ('collection.element.info'|trans), 't.info') }}</th>
                    <th class="col-lg-3">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for i in pagination %}
                    <tr class="row-{{ i.id }}">
                        <td>{{ i.id }}</td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.info }}</td>
                        <td>
                            {{ macros.button('dashboard') }}
                            {{ macros.button('details') }}
                            {{ macros.button('edit') }}
                            {{ macros.button('remove') }}
                            {{ macros.button('add') }}
                            {{ macros.button('info') }}
                            {{ macros.button('filter') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <div class="alert alert-warning">
            {{ 'common.list_is_empty'|trans }}
        </div>
    {% endif %}

{% endblock %}