{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        label[for=remember_me] {
            font-weight: normal !important;
        }
    </style>

{% endblock %}

{% block fos_user_content %}

    <div clas="row">
        <div class="col-lg-7">

            <ul role="tablist" class="nav nav-tabs" id="access-form-tabs">
                <li class="active">
                    <a href="javascript:void(null)">
                        <i class="fa-unlock-alt fa fa-lg fa-fw"></i>
                        {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
                    </a>
                </li>
                <li>
                    <a onclick="Spinner.show()" href="{{ url('fos_user_registration_register') }}">
                        <i class="fa-user-plus fa fa-lg fa-fw"></i>                        
                        {{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}
                    </a>
                </li>
            </ul>

            <div id="admin-dashboard-tab-content" class="tab-content">

                <div role="tabpanel" class="tab-pane active">
                    
                    <br/>
                    
                    {% block sonata_user_login %}

                        {% block sonata_user_login_error %}
                            {% if error %}
                                {{ macros.callout(error|trans({}, 'FOSUserBundle')) }}
                            {% endif %}
                        {% endblock %}

                        {% block sonata_user_login_form %}
                            <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                <div class="form-group control-group">
                                    <label for="username" class="col-sm-4 control-label">{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"/></div>
                                </div>

                                <div class="form-group control-group">
                                    <label for="password" class="col-sm-4 control-label">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</label>
                                    <div class="col-sm-8"><input type="password" class="form-control" id="password" name="_password" required="required"/></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" data-three-state="false" data-toggle="checkbox-x" data-size="lg" />
                                        <label for="remember_me">
                                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group control-group">
                                    <div class="controls col-sm-offset-4 col-sm-8">
                                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" id="_submit" name="_submit"
                                               class="btn-default btn btn-lg"
                                               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                    </div>
                                </div>
                            </form>
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            {# <ul class="list-inline">
                {% for owner in hwi_oauth_resource_owners() %}
                    <li>
                        <a class="btn btn-default btn-lg" title="{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">
                            {{ owner|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>#}
        </div>
    </div>
{% endblock fos_user_content %}
