{%block subject %}Test email for {{ user }}{%endblock%}

{%block body%}
    <h1>Test email (html part)</h1>

    <p><b>User:</b> {{ user }}</p>
    <p><b>Date:</b> {{ date|date('Y-m-d H:i') }}</p>

    <p>Lorem ipsum dolor sit ammet.</p>
    <br/>
    <p><a href="{{ url('default.home') }}">
            {{ 'Home'|trans }}
        </a></p>
    <br/>
    <br/>
    <br/>
    <address>
        Best regards,<br/>

        {{ app_name }} Team
    </address>
{%endblock%}

{%block plaintext%}
    Test email (plaintext part)

    User: {{ user }}
    Date: {{ date|date('Y-m-d H:i') }}

    Lorem ipsum dolor sit ammet.

    {{ 'Home'|trans }} ({{ url('default.home') }})


    Best regards,

    BApp Team
{%endblock%}
