{% if object.getPosition is defined and (admin.getFilterParameters._sort_by == "position" and admin.getFilterParameters._sort_order == "DESC") %}

    {%  if object.getPosition < admin.datagrid.pager.nbresults - 1 %}
        <a href="{{ path("_move_object", { class: admin.getClassNameLabel, id: object.getId, direction: "up"}, true) }}"
           class="btn btn-sm btn-default move" title="{{ 'Move Up' | trans() }}">
            <i class="fa-arrow-up fa"></i>
        </a>
    {% else %}
        <a href="#" class="btn btn-sm btn-default move disabled" title="{{ 'Move Up' | trans() }}">
            <i class="fa-arrow-up fa"></i>
        </a>
    {% endif %}

    {% if object.getPosition > 0 %}
        <a href="{{ path("_move_object", { class: admin.getClassNameLabel, id: object.getId, direction: "down"}, true) }}"
           class="btn btn-sm btn-default move" title="{{ 'Move Down' | trans() }}">
            <i class="fa-arrow-down fa"></i>
        </a>
    {% else %}
        <a href="#" class="btn btn-sm btn-default move disabled" title="{{ 'Move Down' | trans() }}">
            <i class="fa-arrow-down fa"></i>
        </a>
    {% endif %}

{% endif %}

