{% set patterns = {
    time: 'pattern="(0?[0-9]|1[0-9]|2[0-3]):[0-5]\\d"',
    boolean: 'pattern="1|0"',
} %}

{% if settings|length > 0 %}

    <form method="post" action="{{path('user.parameter.settings')}}" class="form-horizontal">

        {% for category, items in settings %}

            <h3>{{ ('settings.category.'~category)|trans }}</h3>
            
            {% for i in items %}
                {% set pattern = null %}
                {% if patterns[i.type] is defined %}
                    {% set pattern = patterns[i.type] %}
                {% endif %}


                {%if i.type == 'enum' %}

                    <div class="input-group">
                        <label for="{{ i.name }}" class="input-group-addon {{i.type}}">
                            {{ ('settings.param.'~i.name)|trans }}
                        </label>

                        <select id="{{ i.name }}"
                                name="{{ i.name }}"
                                class="form-control {{i.type}}">
                            {% for value, label in i.data %}
                                <option value="{{value}}"{%if value == i.value %} selected{%endif%}>{{(i.name~'.'~label)|trans}}</option>
                            {% endfor %}
                        </select>

                    </div>
                {%elseif i.type == 'boolean' %}

                    <div class="input-group">
                        <label for="{{ i.name }}" class="input-group-addon {{i.type}}">
                            {{ ('settings.param.'~i.name)|trans }}
                        </label>

                        <select id="{{ i.name }}"
                                name="{{ i.name }}"
                                class="form-control {{i.type}}">
                            <option value="1"{%if i.value == "1"%} selected{%endif%}>{{'common.yes'|trans}}</option>
                            <option value="0"{%if i.value == "0"%} selected{%endif%}>{{'common.no'|trans}}</option>
                        </select>

                    </div>

                {% elseif i.type == 'text' %}

                    <div class="input-group">
                        <label for="{{ i.name }}" class="input-group-addon {{i.type}}">
                            {{ ('settings.param.'~i.name)|trans }}
                        </label>

                        <textarea
                            {{ pattern|raw }}
                            id="{{ i.name }}"
                            name="{{ i.name }}"
                            class="form-control {{i.type}}"></textarea>

                    </div>

                {% elseif i.type == 'time' %}

                    <div class="input-group">

                        <label for="{{ i.name }}" class="input-group-addon {{i.type}}">
                            {{ ('settings.param.'~i.name)|trans }}
                        </label>

                        <input type="text"
                               title="HH:MM - gdzie HH oznacza żądaną godzinę a MM minutę."
                               {{ pattern|raw }}
                               value="{{ i.value }}"
                               id="{{ i.name }}"
                               name="{{ i.name }}"
                               class="form-control {{i.type}}"/>
                    </div>

            {% else %}

                <div class="form-group">
                    <label for="{{ i.name }}" class="control-label {{i.type}}">
                        {{ ('settings.param.'~i.name)|trans }}
                    </label>

                    <input type="text"
                           {{ pattern|raw }}
                           value="{{ i.value }}"
                           id="{{ i.name }}"
                           name="{{ i.name }}"
                           class="form-control {{i.type}}"/>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <hr/>

    <div class=form-action">
        <button type="submit" class="btn-default btn btn-lg pull-right">{{'common.save'|trans }}</button>
    </div>
</form>
{% else %}
    <div class="alert alert-info">
        {{ 'common.list_is_empty'|trans }}
    </div>
{% endif %}